<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.randy.graphicdemo" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".activity.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.SpotlightActivity"/>
        <activity android:name=".activity.ColorMatrixActivity"/>
        <activity android:name=".activity.FourColorActivity"/>
        <activity android:name=".activity.PorterDuffActivity"/>
        <activity android:name=".activity.HollowTextActivity"/>
        <activity android:name=".activity.EmbossMaskFilterActivity"/>
        <activity android:name=".activity.BlurMaskFilterActivity"/>
        <activity android:name=".activity.RenderscriptBlurActivity"/>
        <activity android:name=".activity.CircleImageViewActivity"/>
    </application>

</manifest>
